<% content_for :page_title do %>
  <%= @post.title %>
<% end %>

<p><%= simple_format(@post.body) %></p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" if current_user_admin? %>
<%= link_to 'Back', posts_path, class: "btn btn-default" %>
<hr />
<% if user_signed_in? %>
  <%= render partial: "comments/form" %>
<% else %>  
  <div class="alert alert-info" role="alert">Sign in to leave a comment</div>
<% end %>
<h2>Comments</h2>
<hr />
<% @comments.each do |comment| %>
  <%= render partial: "comments/comment_row", locals: {comment: comment} %>
<% end %>
